<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Index</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
            crossorigin="anonymous">
    </head>
<body>
    <div class="container">
        <h1 class="display-3 text-left">{{title}}</h1>
        <p class="display-4">{{message}}</p>
        <div>
            <form method="post" action="/">
                <input type="text" name="field">
                <input type="submit">
            </form>
        </div>
    </div>
</body>
</html>